.pr5-choose-us {
    padding-bottom: 100px;
}

.pr5-choose-us-left {
    @include medium-screen {
        margin-bottom: 60px;
    }
    .pr5-title-area {
        margin-bottom: 30px;
    }
    .pr5-list-area {
        ul {
            li {
                display: flex; 
                align-items: center;
                + li {
                    margin-top: 30px;
                }
                .pr5-icon-wrapper {
                    margin-right: 20px;
                    i {
                        width: 70px; 
                        height: 70px;
                        display: inline-flex; 
                        background-color: #ffece7; 
                        color: $primary-color;
                        align-items: center;
                        justify-content: center;
                        font-size: 36px;
                    }
                }
                .pr5-list-content {
                    .pr5-headline {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .pr5-primary-btn {
        margin-top: 40px;
    }
}
.pr5-choose-us-right {
    .pr5-choose-us-column {
        position: relative;
        filter: drop-shadow(1px 0px 10px rgba(16, 69, 72, 0.15)); 
        margin-bottom: 30px;
        &::after {
            content: ''; 
            position: absolute; 
            top: 10px; 
            right: 1px;
            width: calc(100% - 2px); 
            height: calc(100% - 60px); 
            clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
            z-index: -1;
            background-color: $secondary-color;
            border-radius: 3px;
        }
        .pr5-ch-cl {
            padding: 80px 0 40px 0;
            text-align: center; 
            background-color: $white-color;
            clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
            .pr5-icon-wrapper {
                i {
                    font-size: 46px;
                    color: $primary-color;
                    display: inline-block;
                    line-height: 0;
                }
            }
            .pr5-headline {
                span {
                    font-size: 48px;
                    font-weight: 700;
                    color: $heading-color; 
                    display: inline-block;
                }
            }
            .pr5-subtitle {
                span {
                    font-weight: 700; 
                    text-transform: capitalize; 
                    font-size: 20px;
                }
            }
        }
    }
}