.pr5-project-section {
    padding: 0 0 100px 0;
    background-image: linear-gradient(to top, #ffe9e3, #ffffff);
    .pr5-title-area {
        margin-bottom: 60px;
    }
}

.pr5-project-content {
    .pr5-project-left {
        ul {
            max-height: 300px;
            @include medium-screen {
                max-height: auto;
                text-align: center;
                margin-bottom: 60px;
            }
            li {
                @include medium-screen {
                    display: inline-block;
                }

                a {
                    display: inline-block;
                    background-color: $white-color; 
                    color: $heading-color;
                    width: 225px; 
                    height: 50px; 
                    text-align: center; 
                    line-height: 50px;
                    font-family: $heading-font; 
                    font-weight: 600;
                    transition: $transition; 
                    border-radius: 3px;
                    box-shadow: 0px 5px 60px 0px rgba(16, 69, 72, 0.1);
                    &:hover {
                        background-color: #ffe5df; 
                        color: $primary-color;
                    }
                
                }
                a.active {
                    background-color: #ffe5df; 
                    color: $primary-color;
                }
                + li {
                    @include medium-screen {
                        margin-left: 10px;
                    }
                    a {
                        margin-top: 15px;
                    }
                }
            }
            .mCSB_dragger_bar {
                background-color: $primary-color !important;
            }
            .mCSB_draggerRail {
                background-color: $secondary-color;
                width: 4px;
            }
        }
    }
    .pr5-project-tab {
        .pr5-project-column {
            position: relative; 
            img {
                border-radius: 3px;
            }
            .pr5-project-overlay {
                position: absolute; 
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%;
                display: inline-flex; 
               justify-content: flex-end;
               flex-direction: column;
                background-image: linear-gradient(to top, #171952, #00154500);
                padding: 30px;
                border-radius: 3px;
                opacity: 0; 
                visibility: hidden;
                transition: $transition;
                .pr5-subtitle {
                    color: $white-color;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                .pr5-headline {
                    display: block;
                    h4 {
                        color: $white-color;
                    }
                }
            }
            .pr5-project-readmore-btn {
                display: inline-block;
                position: absolute;
                right: 20px; 
                bottom: -20px;
                z-index: 10;
                opacity: 0; 
                visibility: hidden;
                transition: $transition;
                a {
                   width: 40px; 
                   height: 40px; 
                   background-color: $primary-color; 
                   display: inline-block;
                   text-align: center; 
                   line-height: 40px; 
                   color: $white-color; 
                   border-radius: 50%;
                }
            }
            &:hover {
                .pr5-project-overlay {
                    opacity: 1; 
                    visibility: visible;
                }
                .pr5-project-readmore-btn {
                    opacity: 1; 
                    visibility: visible;
                }
            }
        }
        .slick-list {
            padding-bottom: 30px;
        }
    }
}