.pr5-testimonial-section {
    padding: 100px 0;
    .pr5-title-area {
        margin-bottom: 60px;
        @include medium-screen {
            margin-bottom: 80px;
        }
    }
}

.pr5-testimonial-slider {
    .pr5-testimonial-item {
        width: 450px;
        box-shadow: 0px 5px 10px 0px rgba(16, 69, 72, 0.15);
        padding: 30px 30px 40px 30px;
        text-align: center;
        position: relative;
        .pr5-headline {
            margin-top: 20px;
        }
        .pr5-thumb-img {
            position: absolute; 
            bottom: -30px; 
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            display: inline-block;
            width: 55px; 
            height: 55px; 
            border-radius: 50%;
            overflow: hidden;
            background-color: $primary-color;
            padding: 1px;
            box-shadow: 0px 0px 30px rgba(249, 83, 37, 0.281);
            img {
                border-radius: 50%;
            }
        }
    }
    .slick-list {
        padding: 20px 0 50px 0;
        margin: 0 -15px;
    }
    .slick-slide {
        margin: 0 15px; 
    }
    .slick-arrow {
        position: absolute;
        top: -50px; 
        right: 0;
        background-color: $secondary-color; 
        border: none; 
        color: $white-color; 
        border-radius: 3px; 
        width: 30px; 
        height: 30px; 
        text-align: center; 
        line-height: 30px;
        transition: $transition;
        font-size: 15px;
        &:hover {
            background-color: $primary-color;
        }
    }
    .slick-arrow.prev-btn {
        right: 45px;
    }
}
