//Achivements Section 
.pr2-achivement-section {
    padding: 120px 0 180px 0;
    background-color: #f7f8fc;
    @include screen-1440 {
        padding-bottom: 80px;
    }
    .pr2-title-area {
        .pr2-subtitle {
            color: $primary-color;
        }
    }
}

.pr2-achivement-contents {
    margin-top: 30px;
    position: relative; 
    z-index: 1;
    .pr2-circle-shape-2 {
        width: 100px; 
        display: inline-block;
        position: absolute; 
        top: -50px; 
        left: -50px;
        z-index: -1;
    }
    .pr2-circle-shape-3 {
        width: 120px;  
        position: absolute; 
        bottom: -10px; 
        right: -50px;
        z-index: -1;
    }
}
.pr2-achivement-column {
    text-align: center; 
    padding: 30px 20px;
    background-color: $white-color; 
    box-shadow: 0px 15px 40px 0px rgba(122, 122, 122, 0.1);
    margin-bottom: 30px;
    .icon-container {
        margin-bottom: 6px;
        i {
            font-size: 50px;
            color: $primary-color;
            display: inline-block; 
            line-height: 0;
        }
    }
    .pr2-headline {
        h2 {
            display: inline-block;
        }
        span {
            font-size: 48px;
            font-family: $heading-font; 
            font-weight: 700;
            color: $heading-color; 
            @include medium-screen {
                font-size: 36px;
            }
        }
    }
    .tagline {
        span {
            font-family: $heading-font; 
            font-weight: 600;
            color: $heading-color; 
        }
    }
    
}
.pr2-team-members {
    margin-top: 80px
}
.pr2-members-column {
    margin-bottom: 40px;
    &:hover {
        .view-details {
            right: 30px; 
            visibility: visible;
            opacity: 1;
        }
        .img-container {
            &::before {
                height: 100%;
            }
        }
        .designation {
            .social-info {
                bottom: -30px;
                visibility: visible; 
                opacity: 1;
            }
        }
        
    }
    .view-details {
        position: absolute; 
        top: 30px; 
        right: 0px;
        display: inline-block; 
        width: 50px; 
        height: 50px; 
        background-color: $white-color; 
        color: $primary-color; 
        text-align: center; 
        line-height: 50px;
        border-radius: 50%;
        font-size: 30px;
        z-index: 2;
        opacity: 0; 
        visibility: hidden;
        transition: $transition;
        &:hover {
            transform: rotate(45deg);
        }
    }
    .img-container {
        position: relative; 
        overflow: hidden;
        border-radius: 6px; 
        &::before {
            content: ''; 
            width: 100%; 
            height: 0; 
            position: absolute;
            background-color: $light-shape;
            z-index: 1;
            bottom: 0; 
            left: 0;
            transition: $transition;
        }
    }
    .designation {
        width: 80%; 
        background-color: $white-color; 
        text-align: center;
        position: relative; 
        margin-left: 50%; 
        margin-top: -50px;
        transform: translateX(-50%); 
        border-radius: 6px;
        padding: 20px 10px 30px 10px;
        z-index: 5;
        h6 {
            margin-bottom: 6px;
        }
        span {
            font-family: $heading-font; 
            font-weight: 600; 
            color: $heading-color;
            text-transform: capitalize;
        }
        .social-info {
            position: absolute;
            left: 50%; 
            bottom: -10px;
            transform: translateX(-50%); 
            width: 100%; 
            text-align: center;
            opacity: 0; 
            visibility: hidden;
            transition: $transition;
            a {
                width: 40px; 
                height: 40px; 
                text-align: center; 
                line-height: 40px; 
                background-color: $primary-color;
                color: $white-color;
                border-radius: 50%;
                display: inline-block;
                font-size: 20px;
                overflow: hidden;
                &:hover {
                    i {
                        &:first-child {
                            margin-left: -50px;
                        }
                    }
                }
                i {
                   &:first-child {
                       margin-right: 30px;
                       margin-left: 10px;
                       transition: $transition;
                   }
                }
                + a {
                    margin-left: 10px;
                }
            }
        }
    }
}