//Case Study 
.pr2-case-study {
    padding: 120px 0;
    @include small-screen {
        padding-bottom: 80px;
    }
    .pr2-case-left {
        padding-right: 20px;
        @include medium-screen {
            margin-bottom: 30px;
        }
    }
}
.pr2-case-bottom {
    margin-top: 30px;
    position: relative;
    @include medium-screen {
        margin-top: 60px;
    }
    .pr2-circle-shape-3 {
        position: absolute; 
        bottom: 0; 
        left: -90px; 
        width: 150px;  
        z-index: -1;
    }
    .pr2-circle-shape-4 {
        position: absolute; 
        top: -60px; 
        right: -60px; 
        width: 130px; 
        z-index: -1;
    }
    .pr2-case-column {
        position: relative;
        @include small-screen {
            margin-bottom: 40px;
        }
        &:hover {
            .img-container {
                img {
                    transform: scale(0.98);
                }
            }
            .pr2-case-subtitle {
                opacity: 1; 
                visibility: visible; 
                bottom: -35px;
            }
        }
        .img-container {
            overflow: hidden;
            img {
                transition: $transition; 
            }
        }
    }
    .pr2-case-subtitle {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        opacity: 0; 
        visibility: hidden;
        transition: $transition;
        a {
            color: $white-color;
            background-color: $primary-color;
            border-radius: 6px;
            display: inline-block; 
            padding: 18px 24px;
            width: 100%; 
            text-align: center;
            font-family: $heading-font; 
            font-weight: 700; 
            font-size: 18px;
            text-transform: capitalize;
        }
    }
}